body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px;
  padding: 0;
  background: url(whit.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

form {
  margin: auto;
  background-color: #edf2f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 600px;
}

h1 {
  font-family: "Hanuman", sans-serif;
  font-weight: 700;
  font-style:italic;
  text-align: center;
  font-weight: 700;
  margin-bottom: 45px;

}

fieldset {
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f1faee;
}

legend {
  font-weight: bold;
  text-align: left;
  color: rgb(34, 29, 29);
}

label {
  display: block;
  margin-top: 10px;
  color: black;

}


input,textarea {
  margin-top: 4px;
  padding: 8px;
  width: calc(100% - 1px);
  border: 1px solid #eaf4f4;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}
 .btn-group {
  display: flex;
  gap: 15px;
 }
 
button {

  background-color: #f1faee;
  color: black;
  border: none;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
}


button:hover {
  background: black;
  color: whitesmoke;
  transform: scale(1.08);
  transition: 0.5s ease;
}
  

  
  .generated-resume {
    margin-top: 100px;
    background-color: white;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 40px;
}
.generated-resume h2{
  text-align: center;
  font-family:"Hanuman", sans-serif ;
  font-style: italic;
  padding: 15px 0px;
}
  
  
  .generated-resume p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 2;
  }
  
  .generated-resume strong {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-weight: bold;
  display: inline-block;
  width: 100px; /* Adjust as needed for better alignment */
  margin-right: 10px;
  margin-bottom: 5px;
  }
  .generated-resume img {
   
    display: block;
    margin: 50px auto 40px; /* Centers image and adds space below it */
    border-radius: 50% ;/* Optional: gives rounded corners to the image */
    max-width: 150px;
    height: 150px;
    
  }